.header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    z-index: 100;
    background: #FFF;

}

.header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.header ul li{
    margin: 0 20px;
}

.dash{
    background-color: #026CB4;
    height: 1px;
    width: 30px;
}

.header i {
    color: #026CB4;
}

.header i:hover{
    color: #00A7FF;
    transition: all 0.2s;
    cursor: pointer;
}

.address, .fone{
    font-size: 12px;
}

.header button{
    background: #FFF;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 1280px) 
{   
    .header{
        height: 10vh;
    }

    .header img{
        width: 200%;
    }
    .logo{
        width: fit-content;
    }

    .social-networks, .fone{
        font-size: 32px;
    }

    .header button{
        font-size: 48px;
    }
    .address, .dash{
        display: none;
    }
}

