.hero {
    width: 100vw;
    height: 100vh;
}

.top{
    margin-top: 100px;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.top div{
    margin: 0 -20px;
}

.top-left{
    background: #026CB4;
    height: 90%;
    width: 45vw;
    z-index: 2;
    color:#fff;
    position: relative;
}

.top-left ul{
    padding: 5% 0 0 50%;
    text-transform: uppercase;
}

.dash-pink {
    background-color: #FF6A6A;
    height: 5px;
    width: 100px;
    margin-bottom: 40px;

}

.top-left i{
 margin-right: 10px;
 color: #00A7FF;
}

.top-left ul h1{
    font-size: 32px;
}

.top-left ul li{
    margin-top: 20px;
}

.top-right{
    background-image: url("../img/woman.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 60vw;
    z-index: 1;
    position: relative;
}

.hero-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100vw;
}

.hero-content {
    padding: 30px;
}

.content-left{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 20vw;
    max-width: 32vw;
}

.content-left h2{
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #026CB4;
}

.content-left p{
    color: #333;
    font-weight: 300;
    font-size: 14px;
}

.content-left ul{
    margin-top: 20px;
}

.content-left ul li{
    margin-top: 20px;
    color: #026CB4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;    
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    max-width: 300px;
}

.content-left ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    cursor: pointer;
}

#i-left{
    color: #00A7FF;
    font-size: 20px;
}

#chevron {
    color: #FF6A6A;    
}

.content-right{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 32vw;

}

.content-right h3{
    color: #026CB4;
    text-transform: uppercase;
}

.content-right p{
    color: #00A7FF;
    margin-top: 20px;
}

.content-right ul{
    margin-top: 20px;
}

.content-right ul li{
    margin-top: 20px;
    color: #333;
    font-weight: 300;
    font-size: 14px;
}


@media (max-width: 1280px) 
{   
    h2{
        font-size: 42px;
    }

    h3{
        font-size: 30px;
    }

    p{
        font-size: 28px !important;
    }

    .top-left ul{
        padding: 15% 0 0 50%;
        text-transform: uppercase;
    }
    
    .top div{
        margin: 0 0px;
    }

    .top-right{
        background-position: center;
    }    

    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
        width: auto;

    }
 
    .content-left{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: auto;
        
    }

    .content-left p{
        text-align: justify;
    }

    .content-left ul li{
        font-size: 28px;    

    }

    #i-left{
        font-size: 32px;
    }

    .content-right{
        border: solid 1px #ccc;
        border-radius: 4px;
        display: flex;
        width: 100%;    
    }
    .content-right ul li{
        font-size: 28px;    
    }
}

